@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



/* Tailwind preflight */

@layer base {
    h1 {
        @apply text-3xl;
    }
    
    h2 {
        @apply text-2xl;
    }
    
    h3 {
        @apply text-xl;
    }
    
    .preview:hover .post-date {
        @apply border-purple-500;
        @apply text-gray-600
    }
    
    .preview:hover .post-title {
        @apply bg-purple-300;
        @apply text-gray-800
    }
    
    .preview:hover .post-body {
        @apply text-black;
    }
}



/* General */

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

body::after {
    display: block;
    height: 50px;
  }

.wrapper {
    background-image: url('/images/background.jpg');
    background-size: cover;
}

.bg-gradient-overlay {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 100%);
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}



/* Posts */

.preview {
    position: relative;
    min-height: 150px;
    max-height: 300px;
    overflow: hidden;
}

.post-header {
    width: 100%;
    position: relative;
    height: 50px;
}

.post-date {
    position: absolute;
    left: 13px;
    text-align: center;
    padding: 8px;
    background: white;
}

.post-title {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    padding: 14px 0 14px 100px;
    z-index: 9;
}

.post-body {
    font-family: 'Raleway', sans-serif;
}

.bg-fade-to-white { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    height: 35%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, transparent, white);
}